@using BilgiDeposu.Models.Entitiy
@model List<TBLAKADEMISYEN>

@{


    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2>Akademisyenler</h2>

<table class="table table-striped">
    <tr style="background-color:rgb(252, 178, 22)">
        <th>ID</th>
        <th>AD</th>
        <th>SOYAD</th>
        <th>SİL</th>
        <th>GÜNCELLE</th>
        <th>Akademisyenin Dersleri</th>
    </tr>
    @foreach (var y in Model)
    {
        <tr>
            <td>@y.ID</td>
            <td>@y.AD</td>
            <td>@y.SOYAD</td>
            <td>@Html.ActionLink("Sil", "AkademisyenSil", new { id = y.ID }, new { @class = "btn btn-danger", onclick = "return confirm('Silmek İstiyor Musunuz?')" })</td>
            <td><a href="/Akademisyen/AkademisyenGetir/@y.ID" class="btn btn-warning">Güncelle</a></td>
            <td><a href="/Akademisyen/AkademisyenDersler/@y.ID" class="btn btn-default" style="background-color:lightseagreen">Akademisyenin Dersleri</a></td>
        </tr>
    }
</table>
<a class="btn btn-primary" href="/Akademisyen/AkademisyenEkle/">Yeni AKADEM Ekle</a>
