@model BilgiDeposu.Models.Entitiy.TBLBOLUM
@{
    ViewBag.Title = "BolumEkle";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<form class="form-group" method="post">
    <div>

    </div>
    <div style="margin-top:15px">
        <label>Bölüm Adı</label>
        <input type="text" class="form-control" name="AD" />
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info" id="btn1">Bölüm Ekle</button>
    </div>


</form>

